$textColor : #ffffff;
$textFaded: #e5e5e5;
$font: 'Roboto', sans-serif;
$small: 16px;
$large: 33px;
$medium: 21px;

body{
  background: url(../img/Coming-Soon-page-Bk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-wrapper-row{
  font-family: $font;
  color: $textColor;

  padding: 50px;

  .left-section{
    border-right: 1px solid #565656;
    .coming-soon-text{
      margin-top: 10px;
      font-size: $small;
      p{
        color: $textFaded;
        span{
          font-weight: 700;
          color: $textColor;
        }
      }
    }

    .contact-row{
      font-size: $large;
      font-weight: 700;
      margin-top: 10px;
      span{
        margin-left: 5px;
      }
      .border{
        height: 5px;
        background-color: rgba(70, 70, 70, 0.61);
      }
    }

    .email-website-row
    {
      margin-top: 10px;
      h4{
        font-size: $medium;
        font-weight: 700;
      }
      p{
        font-size: $small;
        font-weight: 400;
      }
      i{
        font-size: $large;
        color: $textColor;
      }
    }
  }

}